@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100;0,9..40,200;0,9..40,300;0,9..40,400;0,9..40,500;0,9..40,600;0,9..40,700;0,9..40,1000;1,9..40,100;1,9..40,200;1,9..40,300;1,9..40,400;1,9..40,500;1,9..40,600;1,9..40,700&family=Quicksand:wght@300;400;500;600;700&display=swap");
@keyframes efecto_doctor {
  0% {
    width: 50%;
    transition: rotate 20deg;
  }
  90% {
    width: 60%;
    transition: rotate 0deg;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

/* font-family: 'DM Sans', sans-serif;
font-family: 'Quicksand', sans-serif;

*/
header {
  width: 100%;
  background-color: #212429;
  height: 8.75rem;
}
header .barra-de-navegacion {
  display: grid;
  grid-template-columns: 25% 75%;
  grid-template-rows: 9.375rem;
}
header .logo-esquina {
  padding-top: 1.5rem;
  padding-left: 3rem;
}
header .logo-esquina img {
  height: 5rem;
}
header .logo-esquina img:hover {
  transform: scale(1.1);
}
header .nav-cursos ul {
  display: flex;
  justify-content: end;
  padding-right: 4rem;
  padding-top: 3.125rem;
  font-family: "Quicksand", sans-serif;
  font-size: 1.25rem;
  font-weight: 700;
  gap: 3.75rem;
  list-style: none;
}
header .nav-cursos ul a:visited {
  color: #bababa;
}
header .nav-cursos ul a:hover {
  font-size: 1.3125rem;
  color: white;
}

main {
  background-color: black;
  place-items: center;
  width: 100%;
}
main .primera-seccion {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 32.0625rem;
  grid-template-areas: "tituloprincipal descripcion";
  padding-top: 4rem;
  padding-bottom: 11.25rem;
}
main .primera-seccion .titulo-principal {
  grid-area: tituloprincipal;
  font-family: "Quicksand";
  color: white;
  font-size: 4.6875rem;
  font-weight: 700;
  padding-top: 3.75rem;
  padding-right: 1.5625rem;
  text-align: end;
  width: 100%;
}
main .primera-seccion .descripcion-orient {
  grid-area: descripcion;
  font-family: "DM Sans";
  color: white;
  font-size: x-large;
  font-weight: 500;
  padding-top: 3.75rem;
  padding-right: 1.5625rem;
  text-align: end;
  width: 100%;
}
main .primera-seccion .segunda-seccion {
  display: flex;
  align-items: center;
  justify-content: center;
}
main .primera-seccion .segunda-seccion img {
  width: 60%;
  animation-name: efecto_doctor;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 0.3s;
  animation-delay: 0.1ms;
}
main .contenedor-de-fotos {
  background-color: #212429;
  padding-top: 6.25rem;
  padding-bottom: 9.375rem;
}
main .contenedor-de-fotos .titulo-pregunta {
  font-family: "Quicksand", sans-serif;
  padding-bottom: 6.25rem;
  text-align: center;
  font-size: 2.5rem;
  color: #ffa200;
  font-weight: 700;
}
main .contenedor-de-fotos .fotos-personas {
  display: flex;
  justify-content: center;
  gap: 3.75rem;
}
main .contenedor-de-fotos .fotos-personas img:hover {
  transform: scale(1.2);
}
main .contenedor-de-fotos .fotos-personas .persona {
  position: relative;
  display: inline-block;
  text-align: center;
}
main .contenedor-de-fotos .fotos-personas .persona div h5 {
  font-family: "DM Sans", sans-serif;
  font-size: 1.125rem;
  color: white;
  position: absolute;
  bottom: 8%;
  left: 50%;
  transform: translate(-50%, -50%);
}
main .contenedor-de-fotos .fotos-personas .persona div p {
  font-family: "Quicksand", sans-serif;
  font-size: 0.875rem;
  color: white;
  position: absolute;
  bottom: 0%;
  left: 50%;
  transform: translate(-50%, -50%);
}
main .contenedor-surgimiento {
  padding-top: 12.5rem;
  padding-bottom: 9.375rem;
}
main .contenedor-surgimiento .surgimiento {
  font-family: "Quicksand", sans-serif;
  color: #ffa200;
  text-align: center;
  font-size: 2.5rem;
  font-weight: 700;
  padding-bottom: 6.25rem;
}
main .contenedor-surgimiento .surgimiento-parrafo {
  font-family: "Quicksand", sans-serif;
  color: white;
  text-align: center;
  font-size: 1.5625rem;
  font-weight: 400;
  justify-content: center;
  padding: 5% 5%;
  border: 1px solid #ffa200;
  border-radius: 1.875rem;
  margin: 0 25%;
}
main .contenedor-dedicacion {
  padding-top: 12.5rem;
  padding-bottom: 9.375rem;
  background-color: #212429;
}
main .contenedor-dedicacion .pregunta-dedicacion {
  font-family: "Quicksand", sans-serif;
  color: #ffa200;
  text-align: center;
  font-size: 2.5rem;
  font-weight: 700;
  padding-bottom: 6.25rem;
}
main .contenedor-dedicacion .dedicacion-parrafo {
  font-family: "Quicksand", sans-serif;
  color: white;
  text-align: center;
  font-size: 1.5625rem;
  font-weight: 400;
  justify-content: center;
  padding: 5% 5%;
  border: 1px solid #ffa200;
  border-radius: 1.875rem;
  margin: 0 25%;
}

footer {
  padding-top: 1.875rem;
  background-color: black;
}
footer .section-footer {
  display: flex;
  justify-content: center;
  background-color: black;
  gap: 2.5rem;
}
footer .section-footer .imagen-redes {
  width: 2.8125rem;
}
footer .section-footer .imagen-redes:hover {
  transform: scale(1.2);
}
footer .lista-opiniones {
  display: flex;
  font-family: "DM Sans", sans-serif;
  font-size: 0.9375rem;
  color: #474e56;
  list-style: none;
  justify-content: center;
  gap: 0.9375rem;
  padding-top: 3rem;
  padding-bottom: 1rem;
}
footer .lista-opiniones a:visited {
  color: #474e56;
}
footer .lista-opiniones a:hover {
  color: white;
}
footer .copyright {
  color: #474e56;
  text-align: center;
  font-family: "DM Sans", sans-serif;
  padding-top: 1.5rem;
  padding-bottom: 1rem;
  font-size: 0.9375rem;
}

main .titulos .titulos-superiores {
  padding-left: 11.25rem;
  padding-top: 6.25rem;
}
main .titulos .titulos-superiores h2 {
  color: orange;
  font-size: 1.875rem;
  font-family: "Quicksand", sans-serif;
  text-align: start;
}
main .titulos .titulos-superiores h1 {
  color: white;
  font-size: 3.125rem;
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  text-align: start;
}
main .section-grids {
  display: grid;
  grid-template-columns: auto 21% 21% 21% auto;
  grid-template-rows: auto;
  grid-template-areas: ". medicina  administración diseño . ";
  align-items: center;
  padding-top: 6.25rem;
  padding-bottom: 3.125rem;
  gap: 3.4375rem;
}
main .section-grids .tarjeta-medicina a:visited {
  text-decoration: none;
}
main .section-grids .tarjeta-medicina:hover {
  transform: scale(1.05);
  border: 1px solid yellow;
  background-color: #111111;
}
main .section-grids .tarjeta-medicina {
  grid-area: medicina;
  height: 100%;
  background-color: #1b2031;
  border-radius: 1.875rem;
  padding-top: 0.625rem;
}
main .section-grids .tarjeta-medicina .medicina .titulo-tarjeta-medicina {
  color: #1d60e9;
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  text-decoration: underline;
  font-size: 1.5625rem;
  text-align: center;
  padding-bottom: 0.625rem;
}
main .section-grids .tarjeta-medicina .medicina .parrafo-superior-medicina {
  color: white;
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
  font-size: 1.25rem;
  text-align: center;
  font-style: normal;
  padding-bottom: 0.625rem;
}
main .section-grids .tarjeta-medicina .medicina .imagen-profesion {
  width: 90%;
  margin: 0 5%;
}
main .section-grids .tarjeta-medicina .medicina .disponible-tarjeta {
  color: orange;
  font-family: "DM Sans", sans-serif;
  font-size: 1.875rem;
  text-align: center;
  font-weight: 600;
  padding-top: 1.25rem;
}
main .section-grids .tarjeta-medicina .medicina .descripcion-tarjeta {
  color: #9d9d9d;
  font-family: "Quicksand", sans-serif;
  font-size: medium;
  text-align: center;
  font-weight: 500;
  padding: 1.25rem 0.9375rem;
}
main .section-grids .tarjeta-medicina .medicina .lista-de-contenido {
  color: #b0b0b0;
  font-family: "Quicksand", sans-serif;
  font-size: large;
  font-weight: 700;
  text-align: left;
  text-decoration: none;
  padding-left: 2.5rem;
  padding-bottom: 1.875rem;
  list-style: none;
}
main .section-grids .tarjeta-medicina .medicina .lista-de-contenido a:visited {
  color: #b0b0b0;
  text-decoration: none;
}
main .section-grids .tarjeta-administracion:hover {
  transform: scale(1.05);
  border: 1px solid yellow;
  background-color: #111111;
}
main .section-grids .tarjeta-administracion {
  grid-area: administración;
  height: 100%;
  background-color: #1b2031;
  border-radius: 1.875rem;
  padding-top: 0.625rem;
}
main .section-grids .tarjeta-administracion .administracion .titulo-tarjeta-administracion {
  color: white;
  color: green;
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  text-decoration: underline;
  font-size: 1.5625rem;
  text-align: center;
  padding-bottom: 0.625rem;
}
main .section-grids .tarjeta-administracion .administracion .parrafo-superior-administracion {
  color: white;
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
  font-size: 1.25rem;
  text-align: center;
  font-style: normal;
  padding-bottom: 0.625rem;
}
main .section-grids .tarjeta-administracion .administracion .imagen-profesion {
  width: 90%;
  margin: 0 5%;
}
main .section-grids .tarjeta-administracion .administracion .disponible-tarjeta {
  color: orange;
  font-family: "DM Sans", sans-serif;
  font-size: 1.875rem;
  text-align: center;
  font-weight: 600;
  padding-top: 1.25rem;
}
main .section-grids .tarjeta-administracion .administracion .descripcion-tarjeta {
  color: #9d9d9d;
  font-family: "Quicksand", sans-serif;
  font-size: medium;
  text-align: center;
  font-weight: 500;
  padding: 1.25rem 0.9375rem;
}
main .section-grids .tarjeta-administracion .administracion .lista-de-contenido {
  color: #b0b0b0;
  font-family: "Quicksand", sans-serif;
  font-size: large;
  font-weight: 700;
  text-align: left;
  text-decoration: none;
  padding-left: 2.5rem;
  padding-bottom: 1.875rem;
  list-style: none;
}
main .section-grids .tarjeta-administracion .administracion .lista-de-contenido a:visited {
  color: #b0b0b0;
  text-decoration: none;
}
main .section-grids .tarjeta-diseño:hover {
  transform: scale(1.05);
  border: 1px solid yellow;
  background-color: #111111;
}
main .section-grids .tarjeta-diseño {
  grid-area: diseño;
  background-color: #1b2031;
  border-radius: 1.875rem;
  height: 100%;
  padding-top: 0.625rem;
}
main .section-grids .tarjeta-diseño .diseño .titulo-tarjeta-diseño {
  color: white;
  color: orange;
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  text-decoration: underline;
  font-size: 1.5625rem;
  text-align: center;
  padding-bottom: 0.625rem;
}
main .section-grids .tarjeta-diseño .diseño .parrafo-superior-diseño {
  color: white;
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
  font-size: 1.25rem;
  text-align: center;
  font-style: normal;
  padding-bottom: 0.625rem;
}
main .section-grids .tarjeta-diseño .diseño .imagen-profesion {
  width: 90%;
  margin: 0 5%;
}
main .section-grids .tarjeta-diseño .diseño .disponible-tarjeta {
  color: orange;
  font-family: "DM Sans", sans-serif;
  font-size: 1.875rem;
  text-align: center;
  font-weight: 600;
  padding-top: 1.25rem;
}
main .section-grids .tarjeta-diseño .diseño .descripcion-tarjeta {
  color: #9d9d9d;
  font-family: "Quicksand", sans-serif;
  font-size: medium;
  text-align: center;
  font-weight: 500;
  padding: 1.25rem 0.9375rem;
}
main .section-grids .tarjeta-diseño .diseño .lista-de-contenido {
  color: #b0b0b0;
  font-family: "Quicksand", sans-serif;
  font-size: large;
  font-weight: 700;
  text-align: left;
  text-decoration: none;
  padding-left: 2.5rem;
  padding-bottom: 1.875rem;
  list-style: none;
}
main .section-grids .tarjeta-diseño .diseño .lista-de-contenido a:visited {
  color: #b0b0b0;
  text-decoration: none;
}
main .registro {
  padding-left: 180px;
  padding-bottom: 9.375rem;
}
main .registro .titulo-registro {
  font-size: larger;
  color: orange;
  font-weight: bolder;
  font-family: "DM Sans", sans-serif;
}
main .registro .instruccion-registro {
  color: white;
  font-weight: bold;
  font-size: large;
  font-family: "Quicksand", sans-serif;
}
main section .otros-cursos {
  padding-left: 11.25rem;
  padding-top: 6.25rem;
  padding-right: 75rem;
}
main section .otros-cursos h1 {
  color: white;
  font-size: 3.125rem;
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  text-align: start;
}
main .section-grids-2 {
  display: grid;
  grid-template-columns: auto 21% 21% 21% auto;
  grid-template-rows: auto;
  grid-template-areas: ". ingenieria arquitectura programacion . ";
  width: 100%;
  align-items: center;
  padding-top: 6.25rem;
  padding-bottom: 12.5rem;
  gap: 3.4375rem;
}
main .section-grids-2 .tarjeta-ingenieria a:visited {
  text-decoration: none;
}
main .section-grids-2 .tarjeta-ingenieria:hover {
  transform: scale(1.05);
  border: 1px solid yellow;
  background-color: #111111;
}
main .section-grids-2 .tarjeta-ingenieria {
  grid-area: ingenieria;
  height: 100%;
  background-color: #1b2031;
  border-radius: 1.875rem;
  padding-top: 0.625rem;
}
main .section-grids-2 .tarjeta-ingenieria a .titulo-tarjeta-ingenieria {
  color: #1d60e9;
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  text-decoration: underline;
  font-size: 1.5625rem;
  text-align: center;
  padding-bottom: 0.625rem;
}
main .section-grids-2 .tarjeta-ingenieria a .parrafo-superior-ingenieria {
  color: white;
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
  font-size: 1.25rem;
  text-align: center;
  font-style: normal;
  padding-bottom: 0.625rem;
}
main .section-grids-2 .tarjeta-ingenieria a .imagen-profesion {
  width: 90%;
  margin: 0 5%;
}
main .section-grids-2 .tarjeta-ingenieria a .disponible-tarjeta {
  color: orange;
  font-family: "DM Sans", sans-serif;
  font-size: 1.875rem;
  text-align: center;
  font-weight: 600;
  padding-top: 1.25rem;
}
main .section-grids-2 .tarjeta-ingenieria a .descripcion-tarjeta {
  color: #9d9d9d;
  font-family: "Quicksand", sans-serif;
  font-size: medium;
  text-align: center;
  font-weight: 500;
  padding: 1.25rem 0.9375rem;
}
main .section-grids-2 .tarjeta-ingenieria a .lista-de-contenido {
  color: #b0b0b0;
  font-family: "Quicksand", sans-serif;
  font-size: large;
  font-weight: 700;
  text-align: left;
  text-decoration: none;
  padding-left: 2.5rem;
  padding-bottom: 1.875rem;
  list-style: none;
}
main .section-grids-2 .tarjeta-ingenieria a .lista-de-contenido a:visited {
  color: #b0b0b0;
  text-decoration: none;
}
main .section-grids-2 .tarjeta-arquitectura:hover {
  transform: scale(1.05);
  border: 1px solid yellow;
  background-color: #111111;
}
main .section-grids-2 .tarjeta-arquitectura {
  grid-area: arquitectura;
  height: 100%;
  background-color: #1b2031;
  border-radius: 1.875rem;
  padding-top: 0.625rem;
}
main .section-grids-2 .tarjeta-arquitectura a .titulo-tarjeta-arquitectura {
  color: white;
  color: green;
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  text-decoration: underline;
  font-size: 1.5625rem;
  text-align: center;
  padding-bottom: 0.625rem;
}
main .section-grids-2 .tarjeta-arquitectura a .parrafo-superior-arquitectura {
  color: white;
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
  font-size: 1.25rem;
  text-align: center;
  font-style: normal;
  padding-bottom: 0.625rem;
}
main .section-grids-2 .tarjeta-arquitectura a .imagen-profesion {
  width: 90%;
  margin: 0 5%;
}
main .section-grids-2 .tarjeta-arquitectura a .disponible-tarjeta {
  color: orange;
  font-family: "DM Sans", sans-serif;
  font-size: 1.875rem;
  text-align: center;
  font-weight: 600;
  padding-top: 1.25rem;
}
main .section-grids-2 .tarjeta-arquitectura a .descripcion-tarjeta {
  color: #9d9d9d;
  font-family: "Quicksand", sans-serif;
  font-size: medium;
  text-align: center;
  font-weight: 500;
  padding: 1.25rem 0.9375rem;
}
main .section-grids-2 .tarjeta-arquitectura a .lista-de-contenido {
  color: #b0b0b0;
  font-family: "Quicksand", sans-serif;
  font-size: large;
  font-weight: 700;
  text-align: left;
  text-decoration: none;
  padding-left: 2.5rem;
  padding-bottom: 1.875rem;
  list-style: none;
}
main .section-grids-2 .tarjeta-arquitectura a .lista-de-contenido a:visited {
  color: #b0b0b0;
  text-decoration: none;
}
main .section-grids-2 .tarjeta-programacion:hover {
  transform: scale(1.05);
  border: 1px solid yellow;
  background-color: #111111;
}
main .section-grids-2 .tarjeta-programacion {
  grid-area: programacion;
  background-color: #1b2031;
  border-radius: 1.875rem;
  height: 100%;
  padding-top: 0.625rem;
}
main .section-grids-2 .tarjeta-programacion a .titulo-tarjeta-programacion {
  color: white;
  color: orange;
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  text-decoration: underline;
  font-size: 1.5625rem;
  text-align: center;
  padding-bottom: 0.625rem;
}
main .section-grids-2 .tarjeta-programacion a .parrafo-superior-programacion {
  color: white;
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
  font-size: 1.25rem;
  text-align: center;
  font-style: normal;
  padding-bottom: 0.625rem;
}
main .section-grids-2 .tarjeta-programacion a .imagen-profesion {
  width: 90%;
  margin: 0 5%;
}
main .section-grids-2 .tarjeta-programacion a .disponible-tarjeta {
  color: orange;
  font-family: "DM Sans", sans-serif;
  font-size: 1.875rem;
  text-align: center;
  font-weight: 600;
  padding-top: 1.25rem;
}
main .section-grids-2 .tarjeta-programacion a .descripcion-tarjeta {
  color: #9d9d9d;
  font-family: "Quicksand", sans-serif;
  font-size: medium;
  text-align: center;
  font-weight: 500;
  padding: 1.25rem 0.9375rem;
}
main .section-grids-2 .tarjeta-programacion a .lista-de-contenido {
  color: #b0b0b0;
  font-family: "Quicksand", sans-serif;
  font-size: large;
  font-weight: 700;
  text-align: left;
  text-decoration: none;
  padding-left: 2.5rem;
  padding-bottom: 1.875rem;
  list-style: none;
}
main .section-grids-2 .tarjeta-programacion a .lista-de-contenido a:visited {
  color: #b0b0b0;
  text-decoration: none;
}

main section .titulos-superiores-examenes {
  padding-left: 11.25rem;
  padding-top: 6.25rem;
  padding-bottom: 7.5rem;
}
main section .titulos-superiores-examenes h2 {
  color: orange;
  font-size: 1.875rem;
  font-family: "Quicksand", sans-serif;
  text-align: start;
}
main section .titulos-superiores-examenes h1 {
  color: white;
  font-size: 3.125rem;
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  text-align: start;
}
main .titulo {
  padding-bottom: 6.25rem;
  padding-left: 11.25rem;
}
main .titulo .titulo-examenes {
  font-size: x-large;
  color: orange;
  font-weight: bolder;
  font-family: "DM Sans", sans-serif;
}
main .section-grids-3 {
  display: grid;
  grid-template-columns: auto 25% 25% auto;
  grid-template-rows: auto;
  grid-template-areas: ". examen1 examen2 . ";
  width: 100%;
  justify-content: center;
  padding-bottom: 6.25rem;
  gap: 5rem;
}
main .section-grids-3 .examen-1:hover {
  transform: scale(1.05);
  border: 1px solid yellow;
  background-color: #111111;
}
main .section-grids-3 .examen-1 {
  grid-area: examen1;
  height: 100%;
  background-color: #1b2031;
  border-radius: 1.875rem;
  padding-top: 0.625rem;
}
main .section-grids-3 .examen-1 a .titulo-examen-1 {
  color: white;
  color: #1d60e9;
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  text-decoration: underline;
  font-size: 1.5625rem;
  text-align: center;
  padding-bottom: 0.625rem;
}
main .section-grids-3 .examen-1 a .imagen-examen {
  width: 70%;
  justify-self: center;
  margin: 0 15%;
}
main .section-grids-3 .examen-1 a .disponible-tarjeta-examen {
  color: orange;
  font-family: "DM Sans", sans-serif;
  font-size: 1.875rem;
  text-align: center;
  font-weight: 600;
  padding-top: 1.25rem;
}
main .section-grids-3 .examen-1 a .descripcion-tarjeta-examen {
  color: #9d9d9d;
  font-family: "Quicksand", sans-serif;
  font-size: medium;
  text-align: center;
  font-weight: 500;
  padding: 1.25rem 0.9375rem;
}
main .section-grids-3 .examen-2:hover {
  transform: scale(1.05);
  border: 1px solid yellow;
  background-color: #111111;
}
main .section-grids-3 .examen-2 {
  grid-area: examen2;
  height: 100%;
  background-color: #1b2031;
  border-radius: 1.875rem;
  padding-top: 0.625rem;
}
main .section-grids-3 .examen-2 a .titulo-examen-2 {
  color: white;
  color: green;
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  text-decoration: underline;
  font-size: 1.5625rem;
  text-align: center;
  padding-bottom: 0.625rem;
}
main .section-grids-3 .examen-2 a .imagen-examen {
  width: 70%;
  justify-self: center;
  margin: 0 15%;
}
main .section-grids-3 .examen-2 a .disponible-tarjeta-examen {
  color: orange;
  font-family: "DM Sans", sans-serif;
  font-size: 1.875rem;
  text-align: center;
  font-weight: 600;
  padding-top: 1.25rem;
}
main .section-grids-3 .examen-2 a .descripcion-tarjeta-examen {
  color: #9d9d9d;
  font-family: "Quicksand", sans-serif;
  font-size: medium;
  text-align: center;
  font-weight: 500;
  padding: 1.25rem 0.9375rem;
}
main .titulo {
  padding-bottom: 6.25rem;
  padding-left: 11.25rem;
}
main .titulo .titulo-examenes {
  font-size: x-large;
  color: orange;
  font-weight: bolder;
  font-family: "DM Sans", sans-serif;
}

@media (max-width: 1024px) {
  main .primera-seccion {
    padding-bottom: 100px;
  }
  main .primera-seccion .titulo-principal {
    padding-right: 0;
    margin-left: 2.5rem;
    font-size: 55px;
  }
  main .primera-seccion .descripcion-orient {
    padding-right: 0;
    margin-left: 2.5rem;
    padding-left: 20px;
    font-size: 1.375rem;
  }
  main .primera-seccion .segunda-seccion img {
    width: 75%;
  }
  main .contenedor-de-fotos .titulo-pregunta {
    font-size: 2.1875rem;
  }
  main .contenedor-de-fotos .fotos-personas {
    gap: 0.625rem;
  }
  main .contenedor-de-fotos .fotos-personas img:hover {
    transform: scale(1.05);
  }
  main .contenedor-de-fotos .fotos-personas img {
    width: 90%;
  }
  main .contenedor-de-fotos .fotos-personas .persona div h5 {
    bottom: 13%;
    font-size: 100%;
  }
  main .contenedor-de-fotos .fotos-personas .persona div p {
    font-size: 87%;
  }
  main .contenedor-surgimiento {
    padding-top: 5rem;
  }
  main .contenedor-surgimiento .surgimiento {
    font-size: 2.1875rem;
  }
  main .contenedor-surgimiento .surgimiento-parrafo {
    margin: 0 15%;
  }
  main .contenedor-dedicacion {
    padding-top: 5rem;
  }
  main .contenedor-dedicacion .pregunta-dedicacion {
    font-size: 2.1875rem;
  }
  main .contenedor-dedicacion .dedicacion-parrafo {
    margin: 0 15%;
  }
}
@media (max-width: 768px) {
  header {
    height: auto;
    padding-bottom: 3.125rem;
    padding-right: 0;
  }
  header .barra-de-navegacion {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, auto);
  }
  header .barra-de-navegacion .logo-esquina {
    margin: 0 auto;
    padding-left: 0;
  }
  header .barra-de-navegacion .logo-esquina img {
    height: 7.5rem;
  }
  header .nav-cursos {
    padding-right: none;
  }
  header .nav-cursos ul {
    padding-top: 1.875rem;
    font-size: 1.25rem;
    justify-content: center;
    gap: 1.5625rem;
    padding-right: 0;
  }
  main .contenedor-de-fotos .fotos-personas .persona div h5 {
    font-size: 80%;
  }
}
@media (max-width: 425px) {
  header {
    height: auto;
    padding-bottom: 3.125rem;
  }
  header .barra-de-navegacion {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, auto);
  }
  header .logo-esquina {
    margin: 0 auto;
    padding-left: 0;
  }
  header .logo-esquina img {
    height: 7.5rem;
  }
  header .nav-cursos ul {
    flex-direction: column;
    margin: 0 25%;
    padding-top: 1.875rem;
    text-align: start;
    font-size: 1.5625rem;
    gap: 2.5rem;
  }
  header .nav-cursos ul li {
    text-align: center;
  }
  main .primera-seccion {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, auto);
    grid-template-areas: none;
    gap: 3.125rem;
    padding-bottom: 3.125rem;
  }
  main .primera-seccion .titulo-principal {
    text-align: center;
    font-size: 2.8125rem;
    padding-left: 0.625rem;
    padding-right: 0.625rem;
    margin: 0;
  }
  main .primera-seccion .descripcion-orient {
    text-align: center;
    font-size: 1.5625rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    margin: 0;
  }
  main .primera-seccion .segunda-seccion img {
    width: 90%;
  }
  main .contenedor-de-fotos {
    padding-bottom: 3.125rem;
  }
  main .contenedor-de-fotos div .titulo-pregunta {
    margin: 0 5%;
  }
  main .contenedor-de-fotos .fotos-personas {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, auto);
    gap: 1.875rem;
  }
  main .contenedor-de-fotos .fotos-personas .persona {
    margin: 0 2.5%;
  }
  main .contenedor-de-fotos .fotos-personas .persona img {
    width: 95%;
    align-self: center;
  }
  main .contenedor-de-fotos .fotos-personas .persona div h5 {
    bottom: 8%;
  }
  main .contenedor-surgimiento {
    padding-top: 6.25rem;
    padding-bottom: 3.125rem;
  }
  main .contenedor-surgimiento .surgimiento {
    padding-bottom: 3.125rem;
  }
  main .contenedor-surgimiento .surgimiento-parrafo {
    margin: 0 5%;
    font-size: 1.125rem;
  }
  main .contenedor-dedicacion {
    padding-top: 6.25rem;
    padding-bottom: 3.125rem;
  }
  main .contenedor-dedicacion .pregunta-dedicacion {
    padding-bottom: 3.125rem;
  }
  main .contenedor-dedicacion .dedicacion-parrafo {
    margin: 0 5%;
    font-size: 1.125rem;
  }
  footer {
    padding-top: 3rem;
  }
  footer .lista-opiniones {
    flex-direction: column;
    text-align: center;
    gap: 1.375rem;
    padding-top: 2.1875rem;
  }
  footer .copyright {
    padding-top: 2.1875rem;
  }
}
@media (max-width: 320px) {
  header {
    height: auto;
  }
  header .barra-de-navegacion {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, auto);
  }
  header .logo-esquina {
    margin: 0 auto;
    padding-left: 0;
  }
  header .logo-esquina img {
    height: 7.5rem;
  }
  header .nav-cursos ul {
    flex-direction: column;
    margin: 0 15%;
    padding-top: 1.875rem;
    text-align: start;
    font-size: 1.5625rem;
    gap: 2.5rem;
  }
  main .primera-seccion {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, auto);
    grid-template-areas: none;
    gap: 3.125rem;
    padding-bottom: 3.125rem;
  }
  main .primera-seccion .titulo-principal {
    text-align: center;
    font-size: 2.8125rem;
    padding-left: 0.625rem;
    padding-right: 0.625rem;
  }
  main .primera-seccion .descripcion-orient {
    text-align: center;
    font-size: 1.5625rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }
  main .primera-seccion .segunda-seccion img {
    width: 90%;
  }
  main .contenedor-de-fotos {
    padding-bottom: 3.125rem;
  }
  main .contenedor-de-fotos div .titulo-pregunta {
    margin: 0 5%;
  }
  main .contenedor-de-fotos .fotos-personas {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, auto);
    gap: 1.875rem;
  }
  main .contenedor-de-fotos .fotos-personas .persona img {
    width: 95%;
  }
  main .contenedor-de-fotos .fotos-personas .persona div h5 {
    bottom: 15%;
    font-size: 90%;
  }
  main .contenedor-surgimiento {
    padding-top: 6.25rem;
    padding-bottom: 3.125rem;
  }
  main .contenedor-surgimiento .surgimiento {
    padding-bottom: 3.125rem;
  }
  main .contenedor-surgimiento .surgimiento-parrafo {
    margin: 0 5%;
    font-size: 1.125rem;
  }
  main .contenedor-dedicacion {
    padding-top: 6.25rem;
    padding-bottom: 3.125rem;
  }
  main .contenedor-dedicacion .pregunta-dedicacion {
    padding-bottom: 3.125rem;
  }
  main .contenedor-dedicacion .dedicacion-parrafo {
    margin: 0 5%;
    font-size: 1.125rem;
  }
  footer {
    padding-top: 3rem;
  }
  footer .lista-opiniones {
    flex-direction: column;
    text-align: center;
    gap: 1.375rem;
    padding-top: 2.1875rem;
  }
  footer .copyright {
    padding-top: 2.1875rem;
  }
}

/*# sourceMappingURL=style.css.map */
