@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap');

/* font-family: 'Quicksand', sans-serif; */


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*header*/
header{
height: 8.75rem;
}

header a img{
    width: 5rem;
}
ul {
    list-style: none;
}
nav ul a {
    width:100%;
    text-decoration: none;
    color: #bababa;
    font-size: 1.25rem;
    font-weight: 500;
}
/*main*/
.titulo-principal{
    font-family: 'Quicksand', sans-serif;
    color: white;
    font-size: 4.6875rem;
    font-weight: 700;
    text-align: start;
    padding-top: 2.5rem;
    width: 100%;
}

.imagen-quimico{
    width: 60%;
}

.pregunta{
    text-align: center;
}

.texto-carta {
    font-family: 'Quicksand', sans-serif;
    color: black;
    font-size: 1.25rem;
    font-weight: 300;
    text-align: center;
}
.primera-seccion{
    padding-bottom: 9.375rem;
}
.descripcion-orientate {
    font-size:x-large;
    color: white;
    text-align: start;
    padding-top: 1.875rem;
}
.contenedor-de-fotos{
padding: 6.25rem 0;
}

.titulo-pregunta{
    font-family: 'Quicksand', sans-serif;
    padding-top: 25rem;
    text-align: center;
    font-size: 2.5rem;
    color: #ffa200;
    font-weight: 700;
}

.contenedor-surgimiento{
padding-top: 12.5rem;
padding-bottom: 9.375rem;
}

.surgimiento{    
    font-family: 'Quicksand', sans-serif;
    text-align: center;
    font-size: 2.5rem;
    color: #ffa200;
    font-weight: 700;
    padding-top: 15.625rem;
}

.surgimiento-parrafo{
    font-family: 'Quicksand', sans-serif;
    text-align: center;
    font-size: 1.5625rem;
    justify-content: center;
    padding-top: 1.25rem
}

.contenedor-dedicacion{
padding-top: 9.375rem;
padding-bottom: 9.375rem;
}

.pregunta-dedicacion{
    font-family: 'Quicksand', sans-serif;
    padding-top: 12.5rem;
    text-align: center;
    font-size: 2.5rem;
    color: #ffa200;
    font-weight: 700;
}

.dedicacion-parrafo{
    font-family: 'Quicksand', sans-serif;
    text-align: center;
    font-size: 1.5625rem;
    padding-top: 1.25rem;
}

/*footer*/




/*CURSOS.HTML*/


/*header cursos.html*/
header{
    width: 100%;
    background-color: #212429;
}
.barra-de-navegacion{
    display: grid;
    grid-template-columns: 25% 75%;
    grid-template-rows: 9.375rem;
}

.logo-esquina{
padding-top: 1.5rem;
padding-left: 3rem;
}

.nav-cursos ul{
    display: flex;
    gap: .625rem;
    justify-content: end;
    padding-right: 4rem;
    padding-top: 3.125rem;
    font-family: 'Quicksand', sans-serif;
    font-size: 1.25rem;
    font-weight: 500;
    gap: 2.75rem;
}


/*main*/

main{
    background-color: black;
}

.titulos-superiores{
    padding-left: 10rem;
    padding-top: 6.25rem;
}

.titulos-superiores h2{
    color: orange;
    font-size: 1.875rem;
    font-family: 'Quicksand', sans-serif;
}
.titulos-superiores h1{
    color: white;
    font-size: 3.125rem;
    font-family: 'Quicksand', sans-serif;
    font-size: 700;
}

.imagen-profesion{
    width: 15.625rem;
    height: 15.625rem;
}

.section-grids{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto;
    grid-template-areas: ". medicina  administración diseño . ";
    width: 100%;
    align-items: center;
    padding-top: 6.25rem;
    gap: 2.1875rem;
}

.tarjeta-medicina{
    grid-area: medicina;
    height: 100%;
    background-color: #1d60e9;
    border-radius: 1.875rem;
    padding-top: .625rem;
}

.tarjeta-administracion{
    grid-area: administración;
    height: 100%;
    background-color: #912e0e;
    border-radius: 1.875rem;
    padding-top: .625rem;
}

.tarjeta-diseño{
    grid-area: diseño;
    background-color: #c65400;
    border-radius: 1.875rem;
    height: 100%;
    padding-top: .625rem;
}

.titulo-tarjeta-medicina{
    color: white;
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    font-style:initial;
    text-align: center;
    text-decoration: underline;
    padding-bottom: .625rem;
}

.parrafo-superior-medicina{
    color: white;
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
    font-size: 1.25rem;
    text-align: center;
    font-style:normal;
    padding-bottom: .625rem;
}

.titulo-tarjeta-administracion{
    color: white;
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    font-style:initial;
    text-align: center;
    text-decoration: underline;
    padding-bottom: .625rem;
}

.parrafo-superior-administracion{
    color: white;
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
    font-size: 1.25rem;
    text-align: center;
    font-style:normal;
    padding-bottom: .625rem;
}

.titulo-tarjeta-diseño{
    color: white;
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    font-style:initial;
    text-align: center;
    text-decoration: underline;
    padding-bottom: .625rem;
}

.parrafo-superior-diseño{
    color: white;
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
    font-size: 1.25rem;
    text-align: center;
    font-style:normal;
    padding-bottom: .625rem;
}
/*footer*/

/*media 1024*/

/*media 768*/

/*media 468*/

/*media 320*/





