main {
    .titulos {
        .titulos-superiores {
            padding-left: 11.25rem;
            padding-top: 6.25rem;

            h2 {
                color: orange;
                font-size: 1.875rem;
                font-family: 'Quicksand', sans-serif;
                text-align: start;
            }

            h1 {
                color: white;
                font-size: 3.125rem;
                font-family: 'DM Sans', sans-serif;
                font-weight: 700;
                text-align: start;
            }
        }
    }

    .section-grids {
        display: grid;
        grid-template-columns: auto 21% 21% 21% auto;
        grid-template-rows: auto;
        grid-template-areas: ". medicina  administración diseño . ";
        align-items: center;
        padding-top: 6.25rem;
        padding-bottom: 3.125rem;
        gap: 3.4375rem;

        .tarjeta-medicina a:visited {
            text-decoration: none;

        }

        .tarjeta-medicina:hover {
            transform: scale(1.05);
            border: 1px solid yellow;
            background-color: #111111;
        }

        .tarjeta-medicina {
            grid-area: medicina;
            height: 100%;
            background-color: #1b2031;
            border-radius: 1.875rem;
            padding-top: .625rem;

            .medicina {
                .titulo-tarjeta-medicina {
                    color: #1d60e9;
                    font-family: 'DM Sans', sans-serif;
                    font-weight: 700;
                    text-decoration: underline;
                    font-size: 1.5625rem;
                    text-align: center;
                    padding-bottom: .625rem;
                }

                .parrafo-superior-medicina {
                    color: white;
                    font-family: 'Quicksand', sans-serif;
                    font-weight: 500;
                    font-size: 1.25rem;
                    text-align: center;
                    font-style: normal;
                    padding-bottom: .625rem;
                }

                .imagen-profesion {
                    width: 90%;
                    margin: 0 5%;
                }

                .disponible-tarjeta {
                    color: orange;
                    font-family: 'DM Sans', sans-serif;
                    font-size: 1.875rem;
                    text-align: center;
                    font-weight: 600;
                    padding-top: 1.25rem;
                }

                .descripcion-tarjeta {
                    color: #9d9d9d;
                    font-family: 'Quicksand', sans-serif;
                    font-size: medium;
                    text-align: center;
                    font-weight: 500;
                    padding: 1.25rem .9375rem;
                }

                .lista-de-contenido {
                    color: #b0b0b0;
                    font-family: 'Quicksand', sans-serif;
                    font-size: large;
                    font-weight: 700;
                    text-align: left;
                    text-decoration: none;
                    padding-left: 2.5rem;
                    padding-bottom: 1.875rem;
                    list-style: none;
                }

                .lista-de-contenido a:visited {
                    color: #b0b0b0;
                    text-decoration: none;
                }
            }
        }


        .tarjeta-administracion:hover {
            transform: scale(1.05);
            border: 1px solid yellow;
            background-color: #111111;
        }

        .tarjeta-administracion {
            grid-area: administración;
            height: 100%;
            background-color: #1b2031;
            border-radius: 1.875rem;
            padding-top: .625rem;

            .administracion {
                .titulo-tarjeta-administracion {
                    color: white;
                    color: green;
                    font-family: 'DM Sans', sans-serif;
                    font-weight: 700;
                    text-decoration: underline;
                    font-size: 1.5625rem;
                    text-align: center;
                    padding-bottom: .625rem;
                }

                .parrafo-superior-administracion {
                    color: white;
                    font-family: 'Quicksand', sans-serif;
                    font-weight: 500;
                    font-size: 1.25rem;
                    text-align: center;
                    font-style: normal;
                    padding-bottom: .625rem;
                }

                .imagen-profesion {
                    width: 90%;
                    margin: 0 5%;
                }

                .disponible-tarjeta {
                    color: orange;
                    font-family: 'DM Sans', sans-serif;
                    font-size: 1.875rem;
                    text-align: center;
                    font-weight: 600;
                    padding-top: 1.25rem;
                }

                .descripcion-tarjeta {
                    color: #9d9d9d;
                    font-family: 'Quicksand', sans-serif;
                    font-size: medium;
                    text-align: center;
                    font-weight: 500;
                    padding: 1.25rem .9375rem;
                }

                .lista-de-contenido {
                    color: #b0b0b0;
                    font-family: 'Quicksand', sans-serif;
                    font-size: large;
                    font-weight: 700;
                    text-align: left;
                    text-decoration: none;
                    padding-left: 2.5rem;
                    padding-bottom: 1.875rem;
                    list-style: none;
                }

                .lista-de-contenido a:visited {
                    color: #b0b0b0;
                    text-decoration: none;
                }
            }
        }

        .tarjeta-diseño:hover {
            transform: scale(1.05);
            border: 1px solid yellow;
            background-color: #111111;
        }

        .tarjeta-diseño {
            grid-area: diseño;
            background-color: #1b2031;
            border-radius: 1.875rem;
            height: 100%;
            padding-top: .625rem;

            .diseño {
                .titulo-tarjeta-diseño {
                    color: white;
                    color: orange;
                    font-family: 'DM Sans', sans-serif;
                    font-weight: 700;
                    text-decoration: underline;
                    font-size: 1.5625rem;
                    text-align: center;
                    padding-bottom: .625rem;
                }

                .parrafo-superior-diseño {
                    color: white;
                    font-family: 'Quicksand', sans-serif;
                    font-weight: 500;
                    font-size: 1.25rem;
                    text-align: center;
                    font-style: normal;
                    padding-bottom: .625rem;
                }

                .imagen-profesion {
                    width: 90%;
                    margin: 0 5%;
                }

                .disponible-tarjeta {
                    color: orange;
                    font-family: 'DM Sans', sans-serif;
                    font-size: 1.875rem;
                    text-align: center;
                    font-weight: 600;
                    padding-top: 1.25rem;
                }

                .descripcion-tarjeta {
                    color: #9d9d9d;
                    font-family: 'Quicksand', sans-serif;
                    font-size: medium;
                    text-align: center;
                    font-weight: 500;
                    padding: 1.25rem .9375rem;
                }

                .lista-de-contenido {
                    color: #b0b0b0;
                    font-family: 'Quicksand', sans-serif;
                    font-size: large;
                    font-weight: 700;
                    text-align: left;
                    text-decoration: none;
                    padding-left: 2.5rem;
                    padding-bottom: 1.875rem;
                    list-style: none;
                }

                .lista-de-contenido a:visited {
                    color: #b0b0b0;
                    text-decoration: none;
                }
            }
        }
    }

    .registro {
        padding-left: 11.25rem;
        padding-bottom: 9.375rem;

        .titulo-registro {
            font-size: larger;
            color: orange;
            font-weight: bolder;
            font-family: 'DM Sans', sans-serif;
        }

        .instruccion-registro {
            color: white;
            font-weight: bold;
            font-size: large;
            font-family: 'Quicksand', sans-serif;
        }
    }

    section {
        .otros-cursos {
            padding-left: 11.25rem;
            padding-top: 6.25rem;
            padding-right: 75rem;

            h1 {
                color: white;
                font-size: 3.125rem;
                font-family: 'DM Sans', sans-serif;
                font-weight: 700;
                text-align: start;
            }
        }
    }

    .section-grids-2 {
        display: grid;
        grid-template-columns: auto 21% 21% 21% auto;
        grid-template-rows: auto;
        grid-template-areas: ". ingenieria arquitectura programacion . ";
        width: 100%;
        align-items: center;
        padding-top: 6.25rem;
        padding-bottom: 12.5rem;
        gap: 3.4375rem;

        .tarjeta-ingenieria a:visited {
            text-decoration: none;

        }

        .tarjeta-ingenieria:hover {
            transform: scale(1.05);
            border: 1px solid yellow;
            background-color: #111111;
        }

        .tarjeta-ingenieria {
            grid-area: ingenieria;
            height: 100%;
            background-color: #1b2031;
            border-radius: 1.875rem;
            padding-top: .625rem;

            a {
                .titulo-tarjeta-ingenieria {
                    color: #1d60e9;
                    font-family: 'DM Sans', sans-serif;
                    font-weight: 700;
                    text-decoration: underline;
                    font-size: 1.5625rem;
                    text-align: center;
                    padding-bottom: .625rem;
                }

                .parrafo-superior-ingenieria {
                    color: white;
                    font-family: 'Quicksand', sans-serif;
                    font-weight: 500;
                    font-size: 1.25rem;
                    text-align: center;
                    font-style: normal;
                    padding-bottom: .625rem;
                }

                .imagen-profesion {
                    width: 90%;
                    margin: 0 5%;
                }

                .disponible-tarjeta {
                    color: orange;
                    font-family: 'DM Sans', sans-serif;
                    font-size: 1.875rem;
                    text-align: center;
                    font-weight: 600;
                    padding-top: 1.25rem;
                }

                .descripcion-tarjeta {
                    color: #9d9d9d;
                    font-family: 'Quicksand', sans-serif;
                    font-size: medium;
                    text-align: center;
                    font-weight: 500;
                    padding: 1.25rem .9375rem;
                }

                .lista-de-contenido {
                    color: #b0b0b0;
                    font-family: 'Quicksand', sans-serif;
                    font-size: large;
                    font-weight: 700;
                    text-align: left;
                    text-decoration: none;
                    padding-left: 2.5rem;
                    padding-bottom: 1.875rem;
                    list-style: none;
                }

                .lista-de-contenido a:visited {
                    color: #b0b0b0;
                    text-decoration: none;
                }
            }
        }


        .tarjeta-arquitectura:hover {
            transform: scale(1.05);
            border: 1px solid yellow;
            background-color: #111111;
        }

        .tarjeta-arquitectura {
            grid-area: arquitectura;
            height: 100%;
            background-color: #1b2031;
            border-radius: 1.875rem;
            padding-top: .625rem;

            a {
                .titulo-tarjeta-arquitectura {
                    color: white;
                    color: green;
                    font-family: 'DM Sans', sans-serif;
                    font-weight: 700;
                    text-decoration: underline;
                    font-size: 1.5625rem;
                    text-align: center;
                    padding-bottom: .625rem;
                }

                .parrafo-superior-arquitectura {
                    color: white;
                    font-family: 'Quicksand', sans-serif;
                    font-weight: 500;
                    font-size: 1.25rem;
                    text-align: center;
                    font-style: normal;
                    padding-bottom: .625rem;
                }

                .imagen-profesion {
                    width: 90%;
                    margin: 0 5%;
                }

                .disponible-tarjeta {
                    color: orange;
                    font-family: 'DM Sans', sans-serif;
                    font-size: 1.875rem;
                    text-align: center;
                    font-weight: 600;
                    padding-top: 1.25rem;
                }

                .descripcion-tarjeta {
                    color: #9d9d9d;
                    font-family: 'Quicksand', sans-serif;
                    font-size: medium;
                    text-align: center;
                    font-weight: 500;
                    padding: 1.25rem .9375rem;
                }

                .lista-de-contenido {
                    color: #b0b0b0;
                    font-family: 'Quicksand', sans-serif;
                    font-size: large;
                    font-weight: 700;
                    text-align: left;
                    text-decoration: none;
                    padding-left: 2.5rem;
                    padding-bottom: 1.875rem;
                    list-style: none;
                }

                .lista-de-contenido a:visited {
                    color: #b0b0b0;
                    text-decoration: none;
                }
            }
        }

        .tarjeta-programacion:hover {
            transform: scale(1.05);
            border: 1px solid yellow;
            background-color: #111111;
        }

        .tarjeta-programacion {
            grid-area: programacion;
            background-color: #1b2031;
            border-radius: 1.875rem;
            height: 100%;
            padding-top: .625rem;

            a {
                .titulo-tarjeta-programacion {
                    color: white;
                    color: orange;
                    font-family: 'DM Sans', sans-serif;
                    font-weight: 700;
                    text-decoration: underline;
                    font-size: 1.5625rem;
                    text-align: center;
                    padding-bottom: .625rem;
                }

                .parrafo-superior-programacion {
                    color: white;
                    font-family: 'Quicksand', sans-serif;
                    font-weight: 500;
                    font-size: 1.25rem;
                    text-align: center;
                    font-style: normal;
                    padding-bottom: .625rem;
                }

                .imagen-profesion {
                    width: 90%;
                    margin: 0 5%;
                }

                .disponible-tarjeta {
                    color: orange;
                    font-family: 'DM Sans', sans-serif;
                    font-size: 1.875rem;
                    text-align: center;
                    font-weight: 600;
                    padding-top: 1.25rem;
                }

                .descripcion-tarjeta {
                    color: #9d9d9d;
                    font-family: 'Quicksand', sans-serif;
                    font-size: medium;
                    text-align: center;
                    font-weight: 500;
                    padding: 1.25rem .9375rem;
                }

                .lista-de-contenido {
                    color: #b0b0b0;
                    font-family: 'Quicksand', sans-serif;
                    font-size: large;
                    font-weight: 700;
                    text-align: left;
                    text-decoration: none;
                    padding-left: 2.5rem;
                    padding-bottom: 1.875rem;
                    list-style: none;
                }

                .lista-de-contenido a:visited {
                    color: #b0b0b0;
                    text-decoration: none;
                }
            }
        }
    }
}