@media (max-width: 320px){
    main{
        .section-grids {
            padding-left: 22%;
        }

        .registro {
            padding-left: 3rem;
            margin-right: 10%;
    }
    .section-grids-2 {
        padding-left: 22%;
    }
}
}