@media (max-width: 320px){
main{
    section{
        .titulos-superiores-examenes{
            padding-left: .625rem;
            margin-left:  5%;
            margin-right: 5%;
            text-align: center;
        }
    }
}
}